@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.website-background {
    background-color: #f6f0ea;
    background-image: linear-gradient(330deg, #f1dfd1 0%, #f6f0ea 70%);
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 1 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #3f51b5;
}